.board {
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--mantine-color-primary);

  border-top: 3px solid var(--mantine-color-gray-6);
  border-left: 3px solid var(--mantine-color-gray-6);

  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: lighten(var(--mantine-primary-color-filled), 0.85);
  }

  &:active {
    background-color: lighten(var(--mantine-primary-color-filled), 0.75);
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--mantine-primary-color-6);
    background: none;
  }

  &:nth-child(-n + 3) {
    border-top: none;
  }

  &:first-child,
  &:nth-child(3n + 1) {
    border-left: none;
  }
}
