.link {
  width: rem(45px);
  height: rem(45px);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--mantine-radius-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));

  transition:
    background-color 200ms ease,
    color 200ms ease;

  &:hover {
    color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-0));
    background-color: light-dark(
      var(--mantine-primary-color-filled),
      var(--mantine-primary-color-light)
    );
  }

  &.active {
    color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-0));
    background-color: light-dark(
      var(--mantine-primary-color-filled),
      var(--mantine-primary-color-light)
    );

    &:hover {
      background-color: light-dark(
        var(--mantine-primary-color-filled-hover),
        var(--mantine-primary-color-light-hover)
      );
    }
  }
}
