.burger {
  position: absolute;
}

.icon {
  color: var(--mantine-primary-color-6);
}

.title {
  flex: 1;
  @mixin smaller-than $mantine-breakpoint-sm {
    justify-content: center;
  }
}

.main {
  height: 1px;
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-8)
  );
}
